# Dataset
data/*
!data/parquet/DoS-Wednesday-WorkingHours.pcap_ISCX.parquet

# Model files
training_model/*.npy
training_model/*.csv

# Spark output & checkpoints
hdfs_data/
checkpoints/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/